html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  padding: 0;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: transparent;
}

label input, label textarea {
  outline: none;
}

.container {
  background-color: #fff;
  width: 1090px;
  margin: 0 auto;
  padding: 0 175px;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 400;
  text-align: center;
}

.main {
  background: url("../img/background-image.png") no-repeat center/cover;
}

button {
  cursor: pointer;
}

.right {
  color: #039900;
}

.wrong {
  color: #990000;
}

.header {
  padding: 21px 0;
}
.header__container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 93px;
  height: 38.15px;
}
.header__button {
  width: 40px;
  height: 20px;
}
.header__nav {
  display: flex;
  gap: 81px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__item {
  position: relative;
}
.header__item:hover .header__submenu {
  display: block;
}
.header__link {
  color: #000;
  display: block;
}
.header__submenu {
  position: absolute;
  width: 100%;
  display: none;
  border-style: solid;
  border-color: #000;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header__submenu__item {
  padding: 10px;
}
.header__submenu__item:hover {
  background-color: #f1f1f1;
}
.header__submenu__item--last {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header__submenu__link {
  color: #000;
}
.header__wrap {
  display: flex;
  gap: 51px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 576px;
  min-height: 316px;
  padding: 15px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.modal__open {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.hero {
  padding: 36px 0;
}
.hero__title {
  font-size: 24px;
}

.year {
  padding: 36px 0;
}
.year__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.year__form {
  position: relative;
  display: flex;
  justify-content: left;
}
.year__input {
  background-color: #D7D7D7;
  color: #7E7E7E;
  padding: 10px 45px 10px 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.year__button {
  padding: 10px;
  background-color: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 170px;
}

.guess {
  padding: 36px 0;
}
.guess__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guess__form {
  position: relative;
  display: flex;
  justify-content: left;
}
.guess__input {
  background-color: #D7D7D7;
  color: #7E7E7E;
  padding: 10px 45px 10px 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.guess__button {
  padding: 10px;
  background-color: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 170px;
}

.rockGame {
  padding: 36px 0;
}
.rockGame__wrap {
  position: relative;
}
.rockGame__button {
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
}
.rockGame__button--check {
  padding: 10px 20px;
}
.rockGame__list {
  display: flex;
  justify-content: center;
  gap: 38px;
}
.rockGame__answer {
  padding: 38px 0;
}
.rockGame__points {
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
}

.calculator {
  padding: 36px 0;
}
.calculator__form {
  display: flex;
  gap: 38px;
}
.calculator__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 65px;
}
.calculator__item {
  flex-basis: calc((100% - 15px) / 2);
}
.calculator__input {
  background-color: #D7D7D7;
  color: #7E7E7E;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.calculator__button {
  background-color: #000;
  padding: 5px 10px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  color: #fff;
  border-radius: 20px;
}
.calculator__answer {
  background-color: #D7D7D7;
  color: #7E7E7E;
  padding: 10px;
  border-radius: 20px;
}

.timeCalc {
  padding: 36px 0;
}
.timeCalc__wrap {
  display: flex;
  justify-content: center;
  gap: 33px;
}
.timeCalc__form {
  position: relative;
  display: flex;
  justify-content: left;
}
.timeCalc__input {
  background-color: #D7D7D7;
  color: #7E7E7E;
  padding: 10px 25px 10px 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.timeCalc__button {
  padding: 10px;
  background-color: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 170px;
}
.timeCalc__line {
  width: 200px;
  height: 0px;
  border: 1px dashed #000;
}

.dinosaur {
  padding: 36px 0;
}

.football {
  padding: 36px 0;
}
.football__wrap {
  background-color: #5ABB58;
  border: 2px solid #000;
  height: 220px;
  width: 720px;
  border-radius: 37px;
}

.biggestNum {
  padding: 36px 0;
}
.biggestNum__form {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-bottom: 36px;
}
.biggestNum__input {
  background-color: #D7D7D7;
  color: #7E7E7E;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}

.team {
  padding: 36px 0;
}
.team__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 43px;
}
.team__image {
  min-width: 150px;
  min-height: 150px;
  border-radius: 20px;
  background-color: #D9D9D9;
}
.team__name {
  font-size: 14px;
  padding: 20px 0;
}
.team__line__list {
  position: absolute;
  display: flex;
  bottom: -30px;
  gap: 6px;
}
.team__line__line {
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background-color: #d9d9d9;
}
.team__line__line--focus {
  width: 30px;
  background-color: #797979;
}

.scientists {
  padding: 36px 0;
}
.scientists__images__list {
  display: flex;
  flex-wrap: wrap;
  gap: 59px;
  margin-bottom: 36px;
}
.scientists__images__item {
  flex-basis: calc((100% - 177px) / 4);
}
.scientists__images__image {
  min-width: 100px;
  min-height: 100px;
  background-color: #D9D9D9;
  border-radius: 20px;
}
.scientists__buttons__list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.scientists__buttons__item {
  flex-basis: calc((100% - 36px) / 2);
}
.scientists__buttons__button {
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}

.footer {
  padding: 61px 0 59px;
}
.footer__container {
  padding: 0;
}
.footer__wrap {
  display: flex;
  gap: 186px;
}
.footer__logo {
  width: 165px;
  height: 70px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.footer__contact {
  color: #000;
}
.footer__form {
  display: flex;
  gap: 36px;
  position: relative;
}
.footer__input {
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 20px;
  border: none;
  padding: 10px;
}
.footer__button {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px;
  border-radius: 20px;
}
.footer__starText {
  position: absolute;
  font-size: 6px;
  bottom: -18px;
}

.title {
  font-size: 16px;
  padding-bottom: 36px;
}

.line {
  width: 536px;
  height: 0;
  border: 1px solid #000;
}