.container {
    background-color: $main-bg-color;
    width: 1090px;
    margin: 0 auto;
}

body {
    font-family: $main-font;
    color: $text-color;
    background-color: $bg-color;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
    text-align: center;
}

.main {
    background: url('../img/background-image.png') no-repeat center/cover;
}

button {
    cursor: pointer;
}

.right {
    color: $right-color;
}

.wrong {
    color: $wrong-color;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}