.calculator {
    padding: 36px 0;

    &__form {
        display: flex;
        gap: 38px;
        align-items: center;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 65px;
    }

    &__item {
        flex-basis: calc((100% - 15px) / 2);
    }

    &__input {
        background-color: $input-bg-color;
        color: $placeholder-color;
        padding: 10px;
        border-radius: 20px;
        box-shadow: $blur;
    }

    &__button {
        background-color: $button-bg-color;
        padding: 5px 10px;
        box-shadow: $blur;
        color: $second-text-color;
        border-radius: 20px;
    }

    &__answer {
        background-color: $input-bg-color;
        color: $placeholder-color;
        padding: 10px;
        border-radius: 20px;
    }
}