.dinosaur {
    &__container {
        padding: 36px 0;

        &::after {
            content: '';
            display: block;
            width: 536px;
            margin-top: 36px;
            border: 1px solid $border-color;
            transform: translateX(50%);
        }
    }
    
}