.footer {
    padding: 61px 0 59px;

    &__container {
        padding: 0;
    }

    &__wrap {
        display: flex;
        gap: 186px;
    }

    &__logo {
        width: 165px;
        height: 70px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;
    }
    
    &__contact {
        color: $text-color;
    }
}