.timeCalc {
    &__container {
        padding: 36px 0;

        &::after {
            content: '';
            display: block;
            width: 536px;
            margin-top: 36px;
            border: 1px solid $border-color;
            transform: translateX(50%);
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 33px;
    }

    &__form {
        position: relative;
        display: flex;
        justify-content: left;
    }

    &__input {
        background-color: $input-bg-color;
        color: $placeholder-color;
        padding: 10px 45px 10px 10px;
        border-radius: 20px;
        box-shadow: $blur;
    }

    &__button {
        padding: 10px;
        background-color: $button-bg-color;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        right: 0;
    }
    
    &__line {
        width: 100px;
        height: 0px;
        margin: 0;
        border: 1px dashed $border-color;
    }
}