$main-font:  "Montserrat Alternates", sans-serif;
$modal-font: "Inter", sans-serif;
$main-bg-color: #fff;
$second-text-color: #fff;
$text-color: #000;
$border-color: #000;
$hover-color: #f1f1f1;
$button-bg-color: #000;
$right-color: #039900;
$football-bg-color: #5ABB58;
$wrong-color: #990000;
$placeholder-color: #7E7E7E;
$line-focus: #797979;
$line: #d9d9d9;
$input-bg-color: #D7D7D7;
$img-color: #D9D9D9;
$bg-color: #EEE;
$blur: 3px 3px 0px 0px #00000040;